.recipe-card {
    border: double 3px #ff8801;
    width: 500px;
    float:left;
    margin: 10px;
}
.recipe-name {
    border-bottom: double 3px #ff8801;
    text-align: center;
}
.recipe-ingredients {
    border-bottom: double 3px #ff8801;
    padding: 10px;
}
.recipe-url {
    text-decoration: none;
    text-align: center;
    color: #000;
}
.recipe-url:hover {
    background-color: #ff8801;
    padding: 5px;
}